// Colors
$red: #c51919;
$white: #fff;
$iceBlue: #f2faff;
$skyBlue: #cbedfd;
$darkBlue: #00263a;
$marineBlue: #007fae;
$goldenRod: #ff9f00;
$barneyPurple: #a6009b;
$pink: #e7c9eb;

$shadow: 0 3px 6px 0 rgba(0, 100, 137, 0.21);
$ribbonBorder: 5px solid #2980b9;
$ribbonBg: #3498db;

$breakpoint-lg: 1200px;
$breakpoint-md: 950px;
$breakpoint-sm: 700px;
